/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 45rem) {
      
     /*----nav----*/
     nav .ham{
        display: none;
    }

    nav ul li {
        float: left;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .6rem 1rem;
    }

nav ul.hide{ /*displays nav when in medium */
    display: block;
}
 
     
/*----------- searchbar --------------*/
nav .search {
    display: flex;
    float: right;
    margin: 0 -1.7rem;
    padding: 4px 0;
    font-size: 1.2rem;
  
}
nav .search input[type=text] {
    font-size: 1.2rem;
    float: left;
    width: 70%;
    height: 30px;
    background: #f1f1f1;
  }

  nav .search button{
    width: 20%;
    height: 30px;

    background: #868686;
    color: white;
    font-size: 1.0rem;
    border: .2px solid grey;
    cursor: pointer;
}
form button:hover {
    background: #5b5b5b;
  }

    /*----main----*/

    main #blogGallery .flexed{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    
    }
    main #blogGallery .card{
        display:block;
        padding: 0;
        min-height: 300px;
        text-decoration: none;
        background-color:#9f9f9f;
        font-size: 1.1rem;
    }
    /* main #blogGalery {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    
    }
    main .parentGrid .leadGrid, .grid{
        padding: .5rem 2vw;
    }


    /*----footer----*/
  #footerWraper{

      
        grid-template-columns: 1fr 1fr;
        grid-template-rows:auto;
   
        
     
     
        
    }
    
    footer .footParGrid .footGrid{
   
        margin: 0;
        padding: 2rem 2rem 2rem 0;
       
    }

    
} /*end medium */

